body{ 
	background-color: #22859C;}

#location-field{
	padding-left: 1em;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	font-family: helvetica, arial, sans serif;
	height: 1.7em;
}


#map-canvas { 
	height: 700px; 
	width: 700px; 
	margin-top: 2em;
	margin: 2em auto;
}

